* {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}



header {
    margin-top:0;
    border-bottom: solid 2px white;
    display: flex;
    align-items: center;
    justify-content: center;
  height: 10vh;
  width: 100%;
}

#s1 {
  width: 100%;
  height: 100vh;
}

#li1 {
  font: size 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  overflow: auto;
}

.navbar li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
  float: left;
  list-style: none;
  margin: 13px 20px;
  color: white;
}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}
.search {
  color: white;
  padding: 13px 75px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  /* --nav: #D6CC99  */
  --bg: #051018;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;
  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

body {
  /* min-height: 100vh;
/* display: grid; */
  /* place-items: center; */
  /* display: flex; */
  background-color: var(--bg);
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  
}


*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 0;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 5s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 5s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 3s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 13s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

footer {
  /* height: 20vh; */
  width: 100%;
  font-size: 1em;
  display: flex;
  padding-top: 0;
  /* padding-bottom: 5px; */
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 3, 30);
  color: white;
}
img {

    /* position: absolute;
  height:100%;
  width:100vb; */
  
  cursor: pointer;
}


a{
  padding: 5px;
  text-decoration: none;
  color: white;
}


.svg-wrapper {
    height: 60px;
      margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
  }

  .shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #00fffc;
  }

  @keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 5px;
    }
  }
  
  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
  
  
  #s6{
    display: inline-flex;

  }

  #s7{
    display: inline-flex;
  }

  .contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
    padding-top: 10px;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3rem;
    color:#fff;
    align-self: center;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    /* width: 100%; */
    border: solid 2px white;
    border-radius: 20px;
    padding:1rem;
    font-size: 1.2rem;
    color:#fff;
    text-transform: none;
    background:none;
}

#btn {
    height: 40px;
    width: 85px;
    border-radius: 20px;
    cursor: pointer;
}
#btn:hover{
  background-color: cyan;
}
h2{
  font-size: 1rem;
  
}

#btn2{
    /* position: relative; */
    height: 45px;
    width: 200px;
    border: 0;
    border-radius: 8px;
    background-color:#D6CC99;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;

}